.input {
  width: 100%;
  margin-top: 5px;
  padding: 0.7em;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  font-size: 14px;
  line-height: 22px;
  box-sizing: border-box;
  outline: none;
}

.input:focus {
  border: 1px solid #bc581e;
}

.input-text {

}

.input-email {

}

.input-password {
  
}

.input-submit {

}

.label {

}

.error {
  margin: 5px 0px 15px;
  font-size: 14px;
  color: red;
}

.active {

}