.button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.button:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.color-default {
  color: black;
}

.color-success {
  color: #5C9210;
}

.color-danger {
  color: #944317;
}

.color-white {
  color: white;
}