.close-button {
  width: 25px;
  height: 25px;
  position: absolute;
  cursor: pointer;
}

.div1 {
  width: 25px;
  height: 3px;
  top: 15px;
  left: 0px;
  position: absolute;
  transform: rotate(45deg);
  background-color: black;
}

.div2 {
  width: 25px;
  height: 3px;
  top: 15px;
  left: 0px;
  position: absolute;
  transform: rotate(315deg);
  background-color: black;
}

@media screen and (max-width: 800px) {
  .close-button {
    width: 30px;
    height: 30px;
  }
  
  .div1 {
    width: 30px;
    height: 4px;
  }
  
  .div2 {
    width: 30px;
    height: 4px;
  }
}