.signup-form {
  max-width: 350px;
  width: 100%;
  margin: 0 20px;
  padding: 35px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.footer {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: #bc581e;
  /* border-bottom: 1px solid #bc581e; */
  text-decoration: underline;
}