.ingredient-composer {
  width: 100%;
  margin-left: 15px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: auto;
}

.spinner {
  margin-left: 100px;
}

.burger {
  max-width: 160px;
  min-width: 150px;
  width: 100%;
  margin-right: 15px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.active {
  border: 1px solid #bc581e;
}

.burger-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-title {
  margin: 0px;
}

.burger-sort-btn {
  width: 20px;
  height: 20px;
  /* margin-left: 10px; */
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
}

.burger-price {
  margin: 8px 0px 18px;
}