.order {
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.burger {
  max-width: 180px;
  width: 100%;
  /* margin-top: 15px; */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

/* .burger:first-child {
  margin-top: 0px;
} */

.title {
  margin: 0px 0px 10px;
}

.price {
  margin: 10px 0px 0px;
}

.total-price {
  margin: 20px 10px 0px;
}