.order {
  max-width: 500px;
  padding: 10px 25px 25px;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.full-width {
  max-width: initial;
}

.burger {
  max-width: 180px;
  width: 100%;
  margin-top: 15px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  position: relative;
}

/* .burger:first-child {
  margin-top: 0px;
} */

.title {
  margin: 0px 0px 10px;
}

.ingredient-list {
  margin: 15px 0px 38px;
  padding: 0px 0px 0px 20px;
  list-style-type: "\1F354";
}

.list-item {
  padding-left: 10px;
}

.price {
  margin: 0;
  left: 20px;
  bottom: 20px;
  position: absolute;
}

.total-price {
  margin: 20px 10px 0px;
}